<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Question</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

</head>

<body class="page_look font_family_poppins">
    <div class="form-container" style="margin-top: 5%;">
        {% if is_editing %}
            <form method="POST" action="{{ url_for('update_question', quiz_id=quiz_id, ques_id=question.ques_id) }}">
                <a href="{{ url_for('quiz_questions', quiz_id=quiz_id) }}" class="submit-button"
                    style="float: right; border-radius: 25px; padding: 5px 10px; color: #282727; text-decoration: none; width: 2%; font-weight: 500;">x</a>

                <h2 class="form-title">Edit Question</h2>

                <div>
                    <label for="question_text">Question:</label>
                    <input type="text" id="question_text" name="question_text" value="{{ question.question_text }}"
                        required>
                </div>

                <div>
                    <label for="option_1">Option 1:</label>
                    <input type="text" id="option_1" name="option_1" value="{{ question.option1 }}" required>
                </div>

                <div>
                    <label for="option_2">Option 2:</label>
                    <input type="text" id="option_2" name="option_2" value="{{ question.option2 }}" required>
                </div>

                <div>
                    <label for="option_3">Option 3:</label>
                    <input type="text" id="option_3" name="option_3" value="{{ question.option3 }}" required>
                </div>

                <div>
                    <label for="option_4">Option 4:</label>
                    <input type="text" id="option_4" name="option_4" value="{{ question.option4 }}" required>
                </div>

                <div>
                    <label for="correct_option">Correct Option:</label>
                    <select id="correct_option" name="correct_option" class="dropdown" required>
                        <option value="option1" {% if question.correct_option=='option1' %}selected{% endif %}>Option 1
                        </option>
                        <option value="option2" {% if question.correct_option=='option2' %}selected{% endif %}>Option 2
                        </option>
                        <option value="option3" {% if question.correct_option=='option3' %}selected{% endif %}>Option 3
                        </option>
                        <option value="option4" {% if question.correct_option=='option4' %}selected{% endif %}>Option 4
                        </option>
                    </select>
                </div>

                <div class="side-buttons">
                    <button type="submit" class="submit-button" style="margin-top: 40px;">Update Question</button>
                </div>
            </form>
        
        {%else%}
        <form method="POST" action="{{url_for('add_questions', subject_id=subject_id, qz_id=qz_id)}}">
            <a href="{{ url_for('quiz_questions', quiz_id=qz_id) }}" class="submit-button"
                style="float: right; border-radius: 25px; padding: 5px 10px; color: #282727;text-decoration: none; width: 2%;font-weight: 500;">x</a>

            <h2 class="form-title">Add a question</h2>

            <div>
                <label for="question_text">Question:</label>
                <input type="text" id="question_text" name="question_text" placeholder="Add question" required>
            </div>

            <div>
                <label for="option_1">Option 1:</label>
                <input type="text" id="option_1" name="option_1" placeholder="Add option 1" required>
            </div>

            <div>
                <label for="option_2">Option 2:</label>
                <input type="text" id="option_2" name="option_2" placeholder="Add option 2" required>
            </div>

            <div>
                <label for="option_3">Option 3:</label>
                <input type="text" id="option_3" name="option_3" placeholder="Add option 3" required>
            </div>

            <div>
                <label for="option_4">Option 4:</label>
                <input type="text" id="option_4" name="option_4" placeholder="Add option 4" required>
            </div>

            <div>
                <label for="correct_option">Correct option:</label>
                <select id="correct_option" name="correct_option" class="dropdown" required>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                    <option value="option4">Option 4</option>
                </select>
            </div>
            <div class="side-buttons">
                <button type="submit" class="submit-button" style="margin-top: 40px;">Save and Next</button>
            </div>
        </form>
        {%endif%}
    </div>
</body>

</html>