<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body class="page_look font_family_poppins ">
    <div class="form-container" style="margin-top: 5%;">
        {%if is_editing%}
        <h1>Edit Quiz</h1>
        <form method="POST" action="{{url_for('update_quiz', quiz_id= quiz.id)}}">
            <div>
                <label for="chapter_id">Chapter ID:</label>
                <input type="text" id="chapter_id" name="chapter_id" placeholder="Enter chapter ID" value={{chapter_id}} readonly>
            </div>

            <div>
                <label for="subject_id">Subject ID:</label>
                <input type="text" id="subject_id" name="subject_id" placeholder="Enter subject ID" value={{subject_id}} readonly>
            </div>

            <div>
                <label for="date_of_quiz">Date of Quiz:</label>
                <input id="date_of_quiz" name="date_of_quiz" placeholder="Enter date of quiz" value = {{quiz.date_of_quiz}} required>
            </div>

            <div>
                <label for="time_duration">Duration:</label>
                <input id="time_duration" name="time_duration" placeholder="Enter quiz duration" value = {{quiz.time_duration}} required>
            </div>

            <div>
                <label for="remarks">Chapter Name:</label>
                <input id="remarks" name="remarks" placeholder="Enter chapter name" value = {{quiz.remarks}} required>
            </div>

            <div>
                <button type="submit"  class="submit-button" style="margin-top: 40px;">Update Quiz</button>
            </div>
        </form>

        {%else%}
        <h1>Create a New Quiz</h1>
        <form method="POST" action="{{url_for('create_quiz', subject_id=subject_id, chapter_id=chapter_id)}}">
            <div>
                <label for="chapter_id">Chapter ID:</label>
                <input type="text" id="chapter_id" name="chapter_id" placeholder="Enter chapter ID" value={{chapter_id}} readonly>
            </div>

            <div>
                <label for="subject_id">Subject ID:</label>
                <input type="text" id="subject_id" name="subject_id" placeholder="Enter subject ID" value={{subject_id}} readonly>
            </div>

            <div>
                <label for="date_of_quiz">Date of Quiz:</label>
                <input id="date_of_quiz" name="date_of_quiz" placeholder="Enter date of quiz" required>
            </div>

            <div>
                <label for="time_duration">Duration:</label>
                <input id="time_duration" name="time_duration" placeholder="Enter quiz duration" required>
            </div>

            <div>
                <label for="remarks">Chapter Name:</label>
                <input id="remarks" name="remarks" placeholder="Enter chapter name" required>
            </div>

            <div>
                <button type="submit"  class="submit-button" style="margin-top: 40px;">Create Quiz</button>
            </div>
        </form>
        {%endif%}
    </div>
</body>
</html>