<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Create Subject</title>
</head>
<body class='page_look font_family_poppins'>
   
    <div class="form-container" style="margin-top: 12%;">
        {% if is_editing %}
        <h1>Edit the Subject</h1>
        <form method="POST" action="/admin/update_subject/{{subject.id}}">
            <div>
                <label for="s_name">Subject Name:</label>
                <input type="text" id="s_name" name="s_name" placeholder="Enter subject name" value = {{subject.name}} required>
            </div>
            
            <div>
                <label for="description">Description:</label>
                <input id="description" name="description" placeholder="Enter subject description" value = {{subject.description}}>
            </div>
            
            <div>
                <button type="submit"  class="submit-button" style="margin-top: 40px;" >Update Subject</button>
            </div>
        </form>
        {% else %}
        <h1>Create a New Subject</h1>
        <form method="POST" action="/admin/subjects/new">
            <div>
                <label for="s_name">Subject Name:</label>
                <input type="text" id="s_name" name="s_name" placeholder="Enter subject name" required>
            </div>
            
            <div>
                <label for="description">Description:</label>
                <input id="description" name="description" placeholder="Enter subject description">
            </div>
            
            <div>
                <button type="submit"  class="submit-button" style="margin-top: 40px;" >Create Subject</button>
            </div>
        </form>
        {% endif %}
        
    </div>
</body>
</html>