<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>

</head>
<body>
    <footer class="site-footer font_family_poppins">
        <div class="footer-content">
            <p>2025 Quiz Master MAD-1 | All rights reserved.</p>
            <p>Developed by Rishabh Singh</p>
        </div>
    </footer>
</body>
</html>